/*all*/
* {
    margin: 0;
}

    /*heter body høyde til 100%*/
html,
body {
    height: 100%;
}

    /*seter margin på tekst*/
p {
    margin: 0.5em 0 0.5em 0;
}

/*header*/
    /*body sin margin 0*/
body {
    margin: 0;
}

    /* redigerer påliste formate*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: large;
}

    /*seter listen til venstre*/
li {
    float: left;
}

    /* list med a*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 20px;
    text-decoration: none;
}
/*når en hovere over */
li a:hover {
    background-color: #111;
}

/*classe som får backgrumd*/
.allsides-8 {
    background:
        linear-gradient(currentColor 0 0) 0 100%,
        linear-gradient(currentColor 0 0) 0 100%,
        linear-gradient(currentColor 0 0) 100% 0,
        linear-gradient(currentColor 0 0) 100% 0;
    background-size: 20px 3px, 3px 20px;
    background-repeat: no-repeat;
    transition: 0.5s;
}

/* classe flyter på bacgrunden*/
.allsides-8:hover {
    background-position: 100% 100%, 0 0, 0 0, 100% 100%;
}

/*main*/
main {
    display: block;
    background-image: url();
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

/*seter det i classe desctop til å ikke vises*/
.desctop {
    display: none;
}

/*mav on comuter*/
@media only screen and (min-width: 768px) {
    main {
        display: flex;
    }

    aside {
        margin-left: 2%;
        width: 25%;
    }


    .columns-desktop {
        display: flex;
    }

    .desctop {
        display: inline;
    }

    .moble {
        display: none;
    }

}

/*moble navbar setings*/
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

span {
    align-content: center;
}

@media only screen and (max-width:768px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/*website*/
aside,
article {
    padding: 2em;
}

aside {
    text-align: center;
}

article {
    width: 75%;
}



main>aside>img {
    height: 195px;
    width: 192px;
}



/*bakrund*/
body {
    background-color: #333;
}

main {
    background-color: white;
}
/*tekst*/
h1 {
    font-size: 3em;
    margin-top: 0.5em;
}

.banner {
    max-width: 100%;
}

.subtitle {
    background-color: whitesmoke;
    font-size: 1.5em;
    padding: 20px;
}

/*footer*/
footer {
    padding: 15px;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #333;
    padding: 5px;
    border-radius: 1rem;
}

footer a {
    color: white;
}